<div class="form">
    <form>
        <h1>Register</h1>
        <input type="name" placeholder="Nickname"><br>
        <input type="email" placeholder="E-mail"><br>
        <input type="password" placeholder="Password"><br>
        <input type="password" placeholder="Confirm password"><br>
        <input type="button" value="Continue"><br>
        <a href="/auth">Already have account? Login.</a>
    </form>
    <form ngIf="">
        <h1>Auth</h1>
        <input type="email" placeholder="Nickname or E-mail"><br>
        <input type="password" placeholder="Password"><br>
        <app-button></app-button><br>
        <a href="/register">Don't have account? Register.</a>
    </form>
</div>