.app-button {
  padding: 1em;
  margin-bottom: 2em;
  background: #629D7D;
  border: none;
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgb(0 0 0 / 20%);
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);

  &:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
  }

  &:active {
    background: #87d5ab;
  }
}