<div class="header">
    <div class="header__left">
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
    </div>
  
    <div class="header__center">
      <a href="/">Campbook.</a>
    </div>

    <div class="header__right">
        <a href="/auth">Sign In</a>
        <a href="/register">Sign Up</a>
      </div>
  
    <!-- <div class="header__right">
      <a href="/">Home</a>
    </div>

    <div class="header__right">
        <a href="#">Profile</a>
        <a href="#">Log Out</a>
    </div> -->
  </div>