/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  color: #fcfcfd;
}

*::-webkit-scrollbar {
  width: 25px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #fcfcfd;
}

body {
  background: url(/assets/bg.webp);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}

app-about,
app-auth,
app-contact,
app-home,
app-register,
app-search,
app-profile,
app-hotel,
app-add-hotel,
app-page404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

//320-425px mobile
//425-768px tablet
//768-1024px desktop
//1024-1280px large desktop
//1280-1440px xlarge desktop
//1440-1680px xxlarge desktop
//1680-1920px xxxlarge desktop
//1920-2560px yxlarge desktop
//2560-3840px zxlarge desktop